/* table {
	font-size: 12px;
font-family: "Arial";
    width: 100%;
    max-width: 100%;
		overflow: auto;
		margin-bottom: 10px;
		display: table;
		border-collapse: collapse;
		margin: 0px;
}

th{
	background-color: #2D73C3!important;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 13px;
} 
th, td {
  padding: 10px !important;
}

mat-form-field {
  width: 40%;
}

.text-right {
  text-align: right !important;
}


table tr.highlight {
    background-color: rgb(247, 247, 248) !important;
    color: #ffffff;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cell,
	.header-cell {
		word-wrap: initial;
		display: table-cell;
        padding: 0px 5px;
		line-break: unset;
		width: fit-content;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
		text-align: center;
	}

	.header-row,
	.header-cell {
		margin: 0 auto;
		min-height: 100px !important;
		text-align: center;
		vertical-align: middle;
		align-self: center;
  }

  .mat-header-row{
	position: sticky;
	top: 0;
	z-index: 100;
	background: white;
	}

.mat-paginator-sticky {
	bottom: 0px;
	position: sticky;
	z-index: 10;
}
.mat-paginator-container {
	border-width: 1px ;
	border-style: solid;
  } */