<ng-container>
   <!-- Table -->
  <table mat-table [dataSource]="tableDataSource"
   matSort (matSortChange)="sortTable($event)">
   <!-- cdkDropList
   cdkDropListOrientation="horizontal"
   (cdkDropListDropped)="drop($event)"> -->


    <ng-container *ngFor="let tableColumn of tableColumns"  [matColumnDef]="tableColumn.name">

      <!-- if sortable column header  cdkDrag-->

      <ng-container *ngIf="tableColumn.isSortable; else notSortable">
        <th mat-header-cell  *matHeaderCellDef [mat-sort-header]="tableColumn.name"
            [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'">
          {{tableColumn.headertext}}
        </th>
      </ng-container>
      <!-- else not sortable cdkDrag-->
      <ng-template #notSortable>
        <th mat-header-cell  *matHeaderCellDef [class.text-right]="tableColumn.position == 'right'" [resizeColumn]="isResizable">
          {{tableColumn.name}}
        </th>
      </ng-template>

      <!-- column data cdkDrag-->
      <td mat-cell   *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'">
        {{element | dataPropertyGetter: tableColumn.dataKey}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass] = "{'gridrowselected': row === currentSelectionRow, 'disabled': disabled}"
    (click)="rowselected(row)"></tr>
  </table>

  <!-- Pagination -->

      <mat-paginator *ngIf="isPageable"
      [pageSizeOptions]="paginationSizes"
      [pageSize]="defaultPageSize"
      class="mat-paginator-sticky"
      showFirstLastButtons>
    </mat-paginator>

   <!--  <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </mat-card> -->

</ng-container>
