<fieldset style="position: relative; margin: 0px; padding: 0px;  width: 439px; height:378px">
    <button mat-raised-button (click)="onClose()" style="position: absolute; margin: 0px; padding: 0px; left:363px; top:332px; width: 71px; min-width: 71px; height:25px" name="cmdClose">Close</button>
    <button mat-raised-button  style="position: absolute; margin: 0px; padding: 0px; left:289px; top:332px; width: 71px; min-width: 71px; height:25px" name="cmdSelect" (click)="selectrow()" >Select</button>
    <fieldset style="position: absolute; margin: 0px; padding: 0px; left:7px; top:10px;  width: 426px; height:316px">
    <legend>List</legend>
    <fieldset style="position: absolute; margin: 0px; padding: 0px; left:5px; top:3px; border: 0px; width: 416px; height:293px">
    <div class="grdGenRefData" style=" width: 416px; max-height: 293px; overflow: auto;">
        <nova-table
            [tableData]="grdGenRefData_data"
            [tableColumns]="grdGenRefData_columns"
            [isLoading]="isloading"
            (selectedrow)="onrowSelected($event)"
        >
        </nova-table>
    </div>
    </fieldset>
    </fieldset>
    