<header>
   <!--  <button mat-icon-button mat-dialog-close="true">
      <i class="material-icons">clear</i>
    </button> -->
  </header>
  <mat-dialog-content>
    <ng-template #target></ng-template>
  </mat-dialog-content>
 