body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$candy-app-theme: mat-light-theme((
        color: (
                primary: $candy-app-primary,
                accent: $candy-app-accent,
                warn: $candy-app-warn,
        )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

$disable-color: rgba(0, 0, 0, 0.12);
tr.disabled {
  pointer-events: none;
  background-color: $disable-color;
}

.mat-checkbox-disabled .mat-checkbox-label {
  color: #000000;
}

.mat-raised-button {
  line-height: 28px !important;
}
.mat-button-disabled.mat-button-disabled {
  background-color: $disable-color;
}
mat-select[aria-disabled]{
  background-color: $disable-color !important;
}
input[disabled] {
  background-color: $disable-color;
}
