/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
body{
font-size: 12px;
font-family: "Arial";
}

.mat-checkbox{
font-size: 12px;
font-family: "Arial";
}

.mat-radio-button{
font-size: 12px;
font-family: "Arial";
}

.mat-radio-label > .mat-radio-container { height: 14px; width: 14px; }

.mat-radio-container > .mat-radio-outer-circle{ height: 14px; width: 14px; }
.mat-radio-container > .mat-radio-inner-circle{ height: 14px; width: 14px; }

.mat-radio-label > .mat-radio-label-content {
    padding-left: 2px;
}

/* right justify the check in the check box when label is before */
/* This forces the layout to be the full width */
.mat-checkbox-layout{
width: 100%;
}

/* right justify the check in the check box when label is before */
/* Right align the check */
.mat-checkbox-label-before .mat-checkbox-layout .mat-checkbox-inner-container{
margin-left: auto;
margin-right: 0px;
}

/* Ensure check is on the left for a left aligned check with the width set */
.mat-checkbox-layout .mat-checkbox-inner-container{
margin-left: 8px;
margin-right: 8px;
}

.mat-raised-button{
font-size: 12px;
font-family: "Arial";
}

.mat-tab-labels > .mat-tab-label{
font-size: 12px;
font-family: "Arial";
padding: 0px;
margin: 0px;
height: 30px;
}

.mat-tab{
font-size: 12px;
font-family: "Arial";
padding: 0px;
margin: 0px;
}

.mat-tab-header{
font-size: 12px;
font-family: "Arial";
padding: 0px;
margin: 0px;
height: 30px;
}

.mat-tab-labels{
font-size: 12px;
font-family: "Arial";
padding: 0px;
margin: 0px;
height: 30px;
}

.mat-tab-group{
font-size: 12px;
font-family: "Arial";
padding: 0px;
margin: 0px;
}    

.mat-tab-body-wrapper > .mat-tab-body.mat-tab-body-active{
overflow: hidden; 
overflow-x: hidden; 
overflow-y: hidden;
}

.mat-tab-body >  .mat-tab-body-content {
overflow: hidden; 
overflow-x: hidden; 
overflow-y: hidden;
}

thead > tr.mat-header-row { height: 10px; }

tbody > tr.mat-row { height: 10px; }

/* nova-table grid settings */

.gridrowselected {
  background-color: CornflowerBlue;
}

/* Ensure the grid takes the full available width and does not size to the displayed columns */
.mat-table {
	width: 100%;
}

/* to make grid header sticky */
.mat-header-row{
	position: sticky;
	top: 0;
	z-index: 100;
	background: white;
	}

  /* to make grid paginator sticky */
.mat-paginator-sticky {
	bottom: 0px;
	position: sticky;
	z-index: 10;
}

  /* to make grid column resizabele start */
.mat-table.resizing {
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: col-resize;
}

.mat-table {
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
    
.mat-table .mat-cell span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mat-table .mat-header-cell {
  position: relative;
 
}
.mat-table .mat-header-cell:not(:last-child) .resize-holder {
	cursor: col-resize;
	width: 20px;
	height: 100%;
	position: absolute;
	right: -10px;
	top: 0;
	z-index: 1;
}

/* to make grid column resizabele end*/


/* to make table header text capitalize */
th{
  
  text-transform: capitalize;
	font-weight: bold;
	font-size: 13px;
} 

